# Ignore everything by default
*

# LLVC code
!models/demos/audio/llvc/

# Files needed for tt-metal build from source
!setup.py
!pyproject.toml
!MANIFEST.in
!CMakeLists.txt
!CMakePresets.json
!build_metal.sh
!install_dependencies.sh
!create_venv.sh
!conftest.py
!pytest.ini
!README.md
!LICENSE

# Directories needed for build
!cmake/
!tt_metal/
!ttnn/
!tools/
!build/
!generated/
